@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/travel-sm-bg.png");
    min-height: 100vh;
    background-size: cover;
    color: white;
    padding: 15px;
}

@media (min-width:768px) {
    .bg-container {
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/travel-md-bg.png");
    }

    .h {
        font-size: 40px;
        text-align: center;
    }
}

.h {
    font-size: 36px;
    font-family: "Open Sans";
}

.p {
    font-family: "Open Sans";
    font-size: 21px;

}

.btn {
    display: flex;
    flex-direction: column;
    width: 299px;



}

@media(min-width:768px) {
    .btn {
        flex-direction: row;
    }
}

.btn1 {
    color: #183b56;
    background-color: white;
    border: 2px solid white;
    margin: 8px;
    font-weight: 700;
    font-size: 20px;
    height: 40px;
    border-radius: 18px;
}

.btn2 {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    height: 40px;
    margin: 8px;
    border-radius: 18px;
    font-weight: 700;
    font-size: 20px;
}